<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528753372285-5efpv3qo36gb78p79ltoal1nu9re3ios.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528753372285-5efpv3qo36gb78p79ltoal1nu9re3ios</string>
	<key>API_KEY</key>
	<string>AIzaSyAnE83SNtBDcZHO-70VqNnsojcqyp26VZk</string>
	<key>GCM_SENDER_ID</key>
	<string>528753372285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nuxyongApp</string>
	<key>PROJECT_ID</key>
	<string>nuxyoungapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nuxyoungapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528753372285:ios:3c170c74b6cf227b</string>
	<key>DATABASE_URL</key>
	<string>https://nuxyoungapp.firebaseio.com</string>
</dict>
</plist>